.product-card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.color-circle:hover {
  transform: scale(1.1);
}

.color-circle.selected {
  border-color: #0056d2;
  box-shadow: 0 0 0 3px rgba(0, 86, 210, 0.2);
}
.selected-color {
  border: 2px solid black !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
