.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}
.product-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
  border-radius: 1rem;
  background-color: white;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.08);
}
.selected-color {
  border: 2px solid black !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
