# Fichiers de configuration sensibles
/src/main/resources/application.properties
/src/main/resources/application-oauth.properties

# Fichiers de logs
/logs/
*.log

# Fichiers de base de données locales
*.h2.db
test-db.*